.fs-16
    font-size: 16px

.fs-18
    font-size: 18px

.em
    font-weight bold

.hr
    margin 15px 0
    line-height 0

.dot
    display inline-block
    width 3px
    height 3px
    border-radius 3px
    margin-left 3px
    margin-right 3%
    background-color: textColor

.hidden
    opacity 0 !important
    visibility hidden !important