textColor = #754c23

paomui_1_frame = 7
paomui_1_width = 561px
paomui_1_height = 5760px

paomui_2_frame = 6
paomui_2_width = 1147px
paomui_2_height = 5999px

paomui_3L_frame = 3
paomui_3L_width = 649px
paomui_3L_height = 3348px

paomui_3R_frame = 3
paomui_3R_width = 609px
paomui_3R_height = 3272px

paomui_4_frame = 3
paomui_4_width = 756px
paomui_4_height = 3288px

paomui_5_frame = 4
paomui_5_width = 792px
paomui_5_height = 3840px

paomui_6_frame = 2
paomui_6_1_width = 454px
paomui_6_1_height = 1728px
paomui_6_2_width = 578px
paomui_6_2_height = 2148px
paomui_6_3_width = 463px
paomui_6_3_height = 1914px
paomui_6_4_width = 464px
paomui_6_4_height = 1914px

paomui_7_frame = 6
paomui_7_width = 918px
paomui_7_height = 5376px

paomui_8_frame = 2
paomui_8_width = 987px
paomui_8_height = 2445px

paomui_9_frame = 3
paomui_9_width = 632px
paomui_9_height = 3072px
