{% set page = "aboutus" %}

{% include "includes/header.html" %}

<!-- Page 1 -->
<!-- 0 - 1200 -->
<section id="page-1" class="page page-1">
    <div class="frame center-frame"
        data-700="transform: translateY(0%)"
    >
        <img src="img/about_frame.png" alt="">
    </div>
    <h1 class="page__title"
        data-300="transform: translateY(0%)"
        data-700="transform: translateY(-200%)"
    >關於豹妹</h1>
    <div class="paomui maxw"
        data-300="transform: translateY(0%)"
        data-700="transform: translateY(200%)"
    ></div>
    <div id="about1-text" class="about1-text maxw"
        data-300="transform: translateY(0%)"
        data-700="transform: translateY(160%)"
    >
        <p>豹妹(Paomui)出生後發現身上滿佈豹紋，曾用盡方法想把豹紋激褪但也不成功，於是決定與這些天生獨有的豹紋化敵為友，勇敢做自己，樂觀笑看人生。</p>
        <p>香港本地原創角色豹妹(Paomui)由Esther Wong於2008年創作。豹妹(Paomui)這個名字源自Esther在中學時期被同學改的一個別名「豹妹」。Esther 在大學時修讀數碼圖像傳播，一直對設計、藝術等範疇有濃厚興趣。在製作畢業動畫作品時，希望能結合代表自己的元素來構想故事角色，並賦予她獨特的性格特質，於是造就了豹妹(Paomui)的誕生。</p>
        <div class="hr">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <p class="fs-18 em">Hello！大家好！我是豹妹Paomui，讓我先介紹自己吧！</p>
        <dl>
            <dt>歲數：</dt><dd>年齡是女生的秘密喔！（但讓我悄悄告訴你吧，我是於2008年出世的 :P）</dd>
            <dt>生日：</dt><dd>7月27日（豹的好朋友是獅子～）</dd>
            <dt>婚姻狀況：</dt><dd>已經同豹仔（Paojai）拉埋天窗～（害羞...）</dd>
            <dt>特徵：</dt><dd>披著豹紋的妹，曾用盡方法想把豹紋激褪（如：瘋搽去斑膏、狂喝牛奶等等），但也不成功，於是決定與這些天生獨有的豹紋化敵為友！（後來更發現，原來有很多人都很羨慕我擁有如此天生「潮」質呢！）</dd>
            <dt>性格：</dt><dd>樂觀派，最愛笑，正所謂：每日笑一笑，所有悲傷煩惱都拋掉！同時也是思考型，想得入神時便會顯得呆呆的，俗點說，就像碌木一樣！我也是直腸直肚的女生，想什麼說什麼，最怕轉彎抹角！喜歡與大夥兒一起玩樂，也喜歡獨個兒發呆的時候！</dd>
            <dt>嗜好：</dt><dd>扮靚！（說到底，人家也是女孩子嘛～）識揀，梗係揀塗厚厚的睫毛膏和粉紅色胭脂，咩角度自拍都一樣上鏡！</dd>
            <dt>興趣：</dt><dd>絕非低頭族，與其拿著冰冷的數碼產品，不如擁抱溫暖的大自然吧！最期待到郊外野餐，揹著大背囊去露營！獨個兒躺在沙灘，或爬到樹上的吊床曬日光浴，對我來說，才是五星級的享受呢！閒時讀一本好書，聽一首美妙的歌，看一場牽動情緒的電影，畫一幅靚畫，已經好優哉悠哉！拿起相機到處拍拍是一大樂事，到處發掘獨特cafe，呆上一個下午都不覺得奢侈！用對小小的豹手去做手作，滿足感可大了！</dd>
            <dt>擅長：</dt><dd>音樂，是世界語言！而我就最喜歡拿著ukulele自彈自唱，以歌會友！</dd>
            <dt>願望：</dt><dd>保持小童心，迎接大世界，為大家帶來更多歡樂！結識更多朋友仔（當然包括你！），一起笑，一起傻，一起飲勝！（歌都有得唱：「人生有個真正朋友的確好極，飲勝！」）</dd>
        </dl>
    </div>
</section>

<!-- Page 2 -->
<!-- 0 - 1200 -->
<section id="page-2" class="page page-2">
    <h2 class="page__title"
        data-700="transform: translateY(-250%)"
        data-800="transform: translateY(0%)"
    >豹妹最愛的</h2>
    <div id="about2-text" class="about2-text maxw"
        data-700="transform: translateY(250%)"
        data-800="transform: translateY(0%)"
    >
        <ul class="favorite-list">
            <li class="favorite-item food">
                <div class="favorite-item-inner">
                    <div class="text-container">
                        <h3 class="favorite-item__title">食物</h3>
                        <p>自從吃過法國真正的crepes 後一見鍾情！（你懂的～）到cafe必定要點班尼迪克蛋才滿足！每次吃壽司刺身都會令人欲罷不能！</p>
                    </div>
                    <img src="img/about2_img_food.png" alt="">
                </div>
            </li>
            <li class="favorite-item movie">
                <div class="favorite-item-inner">
                    <div class="text-container">
                        <h3 class="favorite-item__title">電影</h3>
                    </div>
                    <img src="img/about2_img_movie.png" alt="">
                </div>
            </li>
            <li class="favorite-item drink">
                <div class="favorite-item-inner">
                    <div class="text-container">
                        <h3 class="favorite-item__title">飲料</h3>
                        <p>咖啡～咖啡～咖啡～（重要的事情說三遍！）</p>
                    </div>
                    <img src="img/about2_img_drink.png" alt="">
                </div>
            </li>
            <li class="favorite-item instrument">
                <div class="favorite-item-inner">
                    <div class="text-container">
                        <h3 class="favorite-item__title">樂器</h3>
                        <p>點少得Ukulele~</p>
                    </div>
                    <img src="img/about2_img_instrument.png" alt="">
                </div>
            </li>
            <li class="favorite-item music">
                <div class="favorite-item-inner">
                    <div class="text-container">
                        <h3 class="favorite-item__title">音樂</h3>
                        <p>「You are my sunshine, my only sunshine.You make me happy when skies are grey...」</p>
                    </div>
                    <img src="img/about2_img_music.png" alt="">
                </div>
            </li>
            <li class="favorite-item color">
               <div class="favorite-item-inner">
                    <div class="text-container">
                        <h3 class="favorite-item__title">顏色</h3>
                    </div>
                    <img src="img/about2_img_color.png" alt="">
               </div>
            </li>
            <li class="favorite-item sport">
               <div class="favorite-item-inner">
                    <div class="text-container">
                       <h3 class="favorite-item__title">運動</h3>
                       <p>陽光普照時就想出外動動豹身～行山不單止出汗之餘又睇到靚景，行極都唔會厭！炎炎夏日跳入水裡，曬黑豹紋幾度都無所謂了！秋風起，到海邊踏單車，涼風撲面精神爽利！</p>
                    </div>
                    <img src="img/about2_img_sport.png" alt="">
               </div>
            </li>
        </ul>
    </div>
</section>

{% include "includes/footer.html" %}
