{% set page = "home" %}

{% include "includes/header.html" %}

<div id="swiper-wrapper">
    <!-- Page 1 -->
    <!-- 0 - 1200 -->
    <section id="page-1" class="page page-1">
        <div class="frame left-frame"
            data-_page_1-700="transform: translateX(0em)"
            data-_page_1-1400="transform: translateX(-45em)"
        >
            <!-- <img src="img/hp1_frame_left.png" alt=""> -->
            <img class="desktop" data-src="img/hp1_frame_left.png" alt="">
        </div>
        <div class="frame right-frame"
            data-_page_1-700="transform: translateX(0em)"
            data-_page_1-1400="transform: translateX(45em)"
        >
            <!-- <img src="img/hp1_frame_right.png" alt=""> -->
            <img class="desktop" data-src="img/hp1_frame_right.png" alt="">
        </div>
        <div class="container">
            <div class="parent"
                data-_page_1-600="transform: translateX(-50%) translateY(0%)"
                data-_page_1-1400="transform: translateX(-50%) translateY(-160%)"
            >
                <div class="paomui paomui-1 maxw"></div>
            </div>
            <div id="hp1-text1" class="text hp1-text1 maxw"
                data-_page_1-760="transform: translateX(0em)"
                data-_page_1-1400="transform: translateX(-45em)"
            >
                <img src="img/hp1_text1.png" alt="">
            </div>
            <div id="hp1-text2" class="text hp1-text2 maxw"
                data-_page_1-760="transform: translateX(0em)"
                data-_page_1-1400="transform: translateX(45em)"
            >
                <img src="img/hp1_text2.png" alt="">
            </div>
        </div>
    </section>

    <!-- Page 2 -->
    <!-- 0 - 1200 -->
    <section id="page-2" class="page page-2">
        <div class="frame left-frame"
            data-_page_2="transform: translateX(-180%)"
            data-_page_2-800="transform: translateX(0%)"
            data-_page_2-1500="transform: translateX(0%)"
            data-_page_2-2000="transform: translateX(-180%)"
        >
            <img class="desktop" data-src="img/hp2_frame.png" alt="">
        </div>
        <div class="container">
            <div class="parent"
                data-_page_2="transform: translateY(-160%)"
                data-_page_2-800="transform: translateY(0%)"
                data-_page_2-1500="transform: translateY(0%)"
                data-_page_2-2000="transform: translateY(-160%)"
            >
                <div class="paomui paomui-2 maxw"></div>
            </div>
            <div id="hp2-text1" class="text hp2-text1 maxw"
                data-_page_2="transform: translateX(-180%)"
                data-_page_2-800="transform: translateX(0%)"
                data-_page_2-1500="transform: translateX(0%)"
                data-_page_2-2000="transform: translateX(-180%)"
            >
                <img src="img/hp2_text.png" alt="">
            </div>
        </div>
    </section>

    <!-- Page 3 -->
    <!-- 0 - 1200 -->
    <section id="page-3" class="page page-3">
        <div class="frame center-frame"
            data-_page_3="top: -200%"
            data-_page_3-800="top: 82%"
            data-_page_3-1500="top: 82%"
            data-_page_3-2000="top: -200%"
        >
            <img class="desktop" data-src="img/hp3_frame.png" alt="">
        </div>
        <div class="container">
            <div class="parent parent--L"
                data-_page_3="transform: translateX(-160%) translateY(-160%)"
                data-_page_3-800="transform: translateX(0%) translateY(0%)"
                data-_page_3-1500="transform: translateX(0%) translateY(0%)"
                data-_page_3-2000="transform: translateX(-160%) translateY(-160%)"
            >
                <div class="lazyload paomui paomui-3L maxw" data-src="img/hp3_Lpaomui.png"></div>
            </div>
            <div class="parent parent--R"
                data-_page_3="transform: translateX(160%) translateY(-160%)"
                data-_page_3-800="transform: translateX(0%) translateY(0%)"
                data-_page_3-1500="transform: translateX(0%) translateY(0%)"
                data-_page_3-2000="transform: translateX(160%) translateY(-160%)"
            >
                <div class="lazyload paomui paomui-3R maxw" data-src="img/hp3_Rpaomui.png"></div>
            </div>
            <div id="hp3-text1" class="text hp3-text1 maxw"
                data-_page_3="transform: translateX(-50%) translateY(-180%)"
                data-_page_3-800="transform: translateX(-50%) translateY(0%)"
                data-_page_3-1500="transform: translateX(-50%) translateY(0%)"
                data-_page_3-2000="transform: translateX(-50%) translateY(-180%)"
            >
                <img class="lazyload" data-src="img/hp3_text.png" alt="">
            </div>
        </div>
    </section>

    <!-- Page 4 -->
    <!-- 0 - 1200 -->
    <section id="page-4" class="page page-4">
        <div class="frame left-frame"
            data-_page_4="transform: translateX(-180%)"
            data-_page_4-800="transform: translateX(0%)"
            data-_page_4-1500="transform: translateX(0%)"
            data-_page_4-2000="transform: translateX(-180%)"
        >
            <img class="desktop" data-src="img/hp4_frame.png" alt="">
        </div>
        <div class="container">
            <div class="parent"
                data-_page_4="transform: translateY(-160%)"
                data-_page_4-800="transform: translateY(0%)"
                data-_page_4-1500="transform: translateY(0%)"
                data-_page_4-2000="transform: translateY(-160%)"
            >
                <div class="lazyload paomui paomui-4 maxw" data-src="img/hp4_paomui.png"></div>
            </div>
            <div id="hp4-text1" class="text hp4-text1 maxw"
                data-_page_4="transform: translateX(-180%)"
                data-_page_4-800="transform: translateX(0%)"
                data-_page_4-1500="transform: translateX(0%)"
                data-_page_4-2000="transform: translateX(-180%)"
            >
                <img class="lazyload" data-src="img/hp4_text.png" alt="">
            </div>
        </div>
    </section>

    <!-- Page 5 -->
    <!-- 0 - 1200 -->
    <section id="page-5" class="page page-5">
        <div class="frame left-frame"
            data-_page_5="transform: translateX(200%)"
            data-_page_5-800="transform: translateX(0%)"
            data-_page_5-1500="transform: translateX(0%)"
            data-_page_5-2000="transform: translateX(200%)"
        >
            <img class="desktop" data-src="img/hp5_frame.png" alt="">
        </div>
        <div class="container">
            <div class="parent"
                data-_page_5="transform: translateY(-160%)"
                data-_page_5-800="transform: translateY(0%)"
                data-_page_5-1500="transform: translateY(0%)"
                data-_page_5-2000="transform: translateY(-160%)"
            >
                <div class="lazyload paomui paomui-5 maxw" data-src="img/hp5_paomui.png"></div>
            </div>
            <div id="hp5-text1" class="text hp5-text1 maxw"
                data-_page_5="transform: translateX(180%)"
                data-_page_5-800="transform: translateX(0%)"
                data-_page_5-1500="transform: translateX(0%)"
                data-_page_5-2000="transform: translateX(180%)"
            >
                <img class="lazyload" data-src="img/hp5_text.png" alt="">
            </div>
        </div>
    </section>

    <!-- Page 6 -->
    <!-- 0 - 1200 -->
    <section id="page-6" class="page page-6">
        <div class="frame top-frame"
            data-_page_6="transform: translateX(-180%)"
            data-_page_6-800="transform: translateX(0%)"
            data-_page_6-1500="transform: translateX(0%)"
            data-_page_6-2000="transform: translateX(-180%)"
        >
            <img class="desktop" data-src="img/hp6_frame.png" alt="">
        </div>
        <div class="container">
            <div id="hp6-text1" class="text hp6-text1 maxw"
                data-_page_6="transform: translateX(-220%)"
                data-_page_6-800="transform: translateX(0%)"
                data-_page_6-1500="transform: translateX(0%)"
                data-_page_6-2000="transform: translateX(-220%)"
            >
                <img class="lazyload" data-src="img/hp6_text.png" alt="">
            </div>
            <div class="parent parent-1"
                data-_page_6="transform: translateX(-160%)"
                data-_page_6-800="transform: translateX(0%)"
                data-_page_6-1500="transform: translateX(0%)"
                data-_page_6-2000="transform: translateX(-160%)"
            >
                <div class="lazyload paomui paomui-6-1 maxw" data-src="img/hp6_paomui_1.png"></div>
            </div>
            <div class="parent parent-2"
                data-_page_6="transform: translateY(-160%)"
                data-_page_6-800="transform: translateY(0%)"
                data-_page_6-1500="transform: translateY(0%)"
                data-_page_6-2000="transform: translateY(-160%)"
            >
                <div class="lazyload paomui paomui-6-2 maxw" data-src="img/hp6_paomui_2.png"></div>
            </div>
            <div class="parent parent-3"
                data-_page_6="transform: translateY(160%)"
                data-_page_6-800="transform: translateY(0%)"
                data-_page_6-1500="transform: translateY(0%)"
                data-_page_6-2000="transform: translateY(160%)"
            >
                <div class="lazyload paomui paomui-6-3 maxw" data-src="img/hp6_paomui_3.png"></div>
            </div>
            <div class="parent parent-4"
                data-_page_6="transform: translateX(160%)"
                data-_page_6-800="transform: translateX(0%)"
                data-_page_6-1500="transform: translateX(0%)"
                data-_page_6-2000="transform: translateX(160%)"
            >
                <div class="lazyload paomui paomui-6-4 maxw" data-src="img/hp6_paomui_4.png"></div>
            </div>
        </div>
    </section>

    <!-- Page 7 -->
    <!-- 0 - 1200 -->
    <section id="page-7" class="page page-7">
        <div class="frame left-frame"
            data-_page_7="transform: translateX(-160%)"
            data-_page_7-800="transform: translateX(0%)"
            data-_page_7-1500="transform: translateX(0%)"
            data-_page_7-2000="transform: translateX(-160%)"
        >
            <img class="desktop" data-src="img/hp7_frame.png" alt="">
        </div>
        <div class="container">
            <div class="parent"
                data-_page_7="transform: translateY(160%)"
                data-_page_7-800="transform: translateY(0%)"
                data-_page_7-1500="transform: translateY(0%)"
                data-_page_7-2000="transform: translateY(-160%)"
            >
                <div class="lazyload paomui paomui-7 maxw" data-src="img/hp7_paomui.png"></div>
            </div>
            <div id="hp7-text1" class="text hp7-text1 maxw"
                data-_page_7="transform: translateX(-180%)"
                data-_page_7-800="transform: translateX(0%)"
                data-_page_7-1500="transform: translateX(0%)"
                data-_page_7-2000="transform: translateX(-180%)"
            >
                <img class="lazyload" data-src="img/hp7_text.png" alt="">
            </div>
        </div>
    </section>

    <!-- Page 8 -->
    <!-- 0 - 1200 -->
    <section id="page-8" class="page page-8">
        <div class="frame left-frame"
            data-_page_8="transform: translateX(0%) translateY(-160%)"
            data-_page_8-800="transform: translateX(0%) translateY(0%)"
            data-_page_8-1500="transform: translateX(0%) translateY(0%)"
            data-_page_8-2000="transform: translateX(-100%) translateY(0%)"
        >
            <img class="desktop" data-src="img/hp8_frame.png" alt="">
        </div>
        <div class="container">
            <div class="parent"
                data-_page_8="transform: translateY(-160%)"
                data-_page_8-800="transform: translateY(0%)"
                data-_page_8-1500="transform: translateY(0%)"
                data-_page_8-2000="transform: translateY(160%)"
            >
                <div class="lazyload paomui paomui-8 maxw" data-src="img/hp8_paomui_paojai.png"></div>
            </div>
            <div id="hp8-text1" class="text hp8-text1 maxw"
                data-_page_8="transform: translateX(180%)"
                data-_page_8-800="transform: translateX(0%)"
                data-_page_8-1500="transform: translateX(0%)"
                data-_page_8-2000="transform: translateX(-330%)"
            >
                <img class="lazyload" data-src="img/hp8_text.png" alt="">
            </div>
        </div>
    </section>

    <!-- Page 9 -->
    <!-- 0 - 1200 -->
    <section id="page-9" class="page page-9">
        <div class="frame"
            data-_page_9="transform: translateY(-160%)"
            data-_page_9-800="transform: translateY(0%)"
            data-_page_9-1500="transform: translateY(0%)"
        >
            <img class="desktop" data-src="img/hp9_frame.png" alt="">
        </div>
        <div class="container">
            <div class="parent"
                data-_page_9="transform: translateX(-50%) translateY(-160%)"
                data-_page_9-800="transform: translateX(-50%) translateY(0%)"
                data-_page_9-1500="transform: translateX(-50%) translateY(0%)"
            >
                <div class="lazyload paomui paomui-9 maxw" data-src="img/hp9_paomui.png"></div>
            </div>
            <div id="hp9-text1" class="text hp9-text1 maxw"
                data-_page_9="transform: translateX(-180%)"
                data-_page_9-800="transform: translateX(0%)"
                data-_page_9-1500="transform: translateX(0%)"
            >
                <img class="lazyload" data-src="img/hp9_text1.png" alt="">
            </div>
            <div id="hp9-text2" class="text hp9-text2 maxw"
                data-_page_9="transform: translateX(180%)"
                data-_page_9-800="transform: translateX(0%)"
                data-_page_9-1500="transform: translateX(0%)"
            >
                <img class="lazyload" data-src="img/hp9_text2.png" alt="">
            </div>
        </div>
    </section>
</div>

{% include "includes/footer.html" %}
