{% set page = "market" %}

{% include "includes/header.html" %}

<div class="frame">
    <img src="img/market_frame.png" alt="">
</div>

<h1 class="page__title">手作市集</h1>

<div class="market-text maxw">
    <div class="markets">
        <ul class="market-list">
            <li class="market">
                <img src="img/market_lifemartMay2018.png" alt="">
                <h3 class="market__title">
                    LIFE MART x 昨日公映<br>
                    「明信片紙品區」
                </h3>
                <p class="market__details">
                    12-13/5/2018<br>
                    1:30pm-7:30pm<br>
                    油麻地YMCA
                </p>
            </li>
            <li class="market">
                <img src="img/market_whitevday.png" alt="">
                <h3 class="market__title">LIFE Mart・白色情人節</h3>
                <p class="market__details">
                    10-11/3/2018<br>
                    1pm-8pm<br>
                    D2 Place ONE
                </p>
            </li>
            <li class="market">
                <img src="img/market_klnbf.png" alt="">
                <h3 class="market__title">nomad nomad x 九龍城書節</h3>
                <p class="market__details">
                    5/12/2017, 12pm-8:30pm<br>
                    6/12/2017, 11:30am-7:30pm<br>
                    香港兆基創意書院
                </p>
            </li>
            <li class="market">
                <img src="img/market_locoloco.png" alt="">
                <h3 class="market__title">
                    LOCOLOCO<br>
                    《萬聖節南瓜魔法市集》
                </h3>
                <p class="market__details">
                    28-29/10/2017<br>
                    1pm-8pm<br>
                    D2 Place ONE
                </p>
            </li>
        </ul>
    </div>
</div>

{% include "includes/footer.html" %}
