{% set page = "market" %}

{% include "includes/header.html" %}

<div class="frame">
    <img src="img/market_frame.png" alt="">
</div>

<h1 class="page__title">手作市集</h1>

<div class="market-text maxw">
    <div class="markets">
        <ul class="market-list">
            <li class="market">
                <a href="https://www.crecra.com/fair2017" target="_blank">
                    <img src="img/market_crecra.png" alt="">
                </a>
                <h3 class="market__title">CRECRA Craft Fair 2017</h3>
                <p class="market__details">
                    20/10/2017: 2pm-11pm<br>
                    21/10/2017: 12nn-9pm<br>
                    22/10/2017: 12nn-9pm<br>
                    九龍灣國際展貿中心6樓展貿廳3
                </p>
            </li>
            <li class="market">
                <a href="https://www.facebook.com/EverMarket.HolidayMarket/posts/528526210826711" target="_blank">
                    <img src="img/market_evermarket.png" alt="">
                </a>
                <h3 class="market__title">Ever Market</h3>
                <p class="market__details">
                    2-3/9/2017<br>
                    1pm-8pm<br>
                    D2 Place
                </p>
            </li>
            <li class="market">
                <a href="https://www.facebook.com/thinkofastyle/posts/696763143867661" target="_blank">
                    <img src="img/market_thinkofastyle.png" alt="">
                </a>
                <h3 class="market__title">嘗想放空市集II</h3>
                <p class="market__details">
                    26/8/2017<br>
                    4pm-10pm<br>
                    中環海濱活動空間
                </p>
            </li>
            <li class="market">
                <a href="https://www.facebook.com/hongkonghad/posts/643749132497256cre" target="_blank">
                    <img src="img/market_hkhad.png" alt="">
                </a>
                <h3 class="market__title">第三屆香港手作及設計展</h3>
                <p class="market__details">
                    13/8/2017<br>
                    12nn-8pm<br>
                    九龍灣國際展貿中心6樓Hall 3
                </p>
            </li>
        </ul>
    </div>
</div>

{% include "includes/footer.html" %}
