            </main>
            <footer class="footer">
                <img class="lazyload" data-srcset="img/footer.png 1x, img/footer@2x.png 2x" alt="">
            </footer>
        </div> <!-- End of content -->
        <script src="js/vendors.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.min.js"></script>
        <script>
            var lazy = lazyload();
            var preloader = document.getElementById('preloader');
            var content = document.getElementById('content');

            if (isDesktop) {
                loadDesktopImages();
            }

            window.onload = function() {
                preloader.classList.add('hidden');
                content.classList.remove('hidden');

                lazy.loadImages();

                if (isDesktop) {
                    desktopSetup();
                } else {
                    mobileSetup();
                }
            }

            function loadDesktopImages() {
                document.querySelectorAll('img.desktop').forEach(function(el) {
                    var imgsrc = el.getAttribute('data-src');
                    el.setAttribute('src', imgsrc);
                });
            }

            function desktopSetup() {
                var iconScroll = document.getElementById('icon-scroll');
                if (iconScroll) {
                    iconScroll.classList.remove('hidden');
                }
                
                var s = skrollr.init({
                    constants: {
                        page_1: 0,
                        page_2: 1400,
                        page_3: 3400,
                        page_4: 5400,
                        page_5: 7400,
                        page_6: 9400,
                        page_7: 11400,
                        page_8: 13400,
                        page_9: 15400
                    }
                });

                var aboutusText = document.getElementById('about1-text');
                if (aboutusText) {
                    Ps.initialize(aboutusText, {
                      wheelPropagation: true
                    });
                }
            }

            function mobileSetup() {
                var swiperPrevButton = document.getElementById('swiper-button-prev');
                var swiperNextButton = document.getElementById('swiper-button-next');

                if (swiperPrevButton && swiperNextButton) {
                    swiperPrevButton.classList.remove('hidden');
                    swiperNextButton.classList.remove('hidden');
                }
                
                setupSwiper();
            }

            function setupSwiper() {
                var swiperContainer = document.getElementById('swiper-container');
                var swiperWrapper = document.getElementById('swiper-wrapper');
                var pages = document.querySelectorAll('.page');
                document.querySelector('body').classList.add('swiper');
                
                if (swiperWrapper) {
                    swiperContainer.classList.add('swiper-container');
                    swiperWrapper.classList.add('swiper-wrapper');
                    pages.forEach(function(currentValue, currentIndex, listObj) {
                        currentValue.classList.add('swiper-slide');
                    });

                    var mySwiper = new Swiper ('.swiper-container', {
                        autoHeight: true,
                        autoplay: 4000,
                        autoplayDisableOnInteraction: true,
                        navigation: {
                            nextEl: '#swiper-button-next',
                            prevEl: '#swiper-button-prev'
                        }
                    });
                }
            }
        </script>
    </body>
</html>
